body {
    display: flex;
    margin: 0;
    background-color: transparent;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;  
    font-weight: 600;
    font-style: normal;  
}

.top-cloud-container {
    width: 150px; /* Smaller width */
    position: fixed;
    top: 30px; /* Adjust as needed */
    left: 0px; /* Adjust as needed */
    z-index: 1000; /* Ensure it's on top */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow {
    width: 230px;
    height: 200px;
    margin: 0 auto;
    transform: rotate(125deg) scale(-1, 1);
}

.arrow .draw-arrow {
    stroke-width: 4;
    stroke: #2D2D2D;
    fill: none;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-name: draw;
}

.arrow .draw-arrow.tail-1 {
    animation-delay: .5s;
}

.arrow .draw-arrow.tail-2 {
    animation-delay: .7s;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

.container {
    margin-top: 150px;
    width: 100%;
    max-width: 375px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.frame.active {
    display: flex;
}

.frame img.cloud {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 375px;
    height: auto;
    transition: transform 1s ease-in-out;
    z-index: 0;
}

.frame img.toothbrush {
    position: absolute;
    left: 40%;
    transform: translateX(-50%) rotate(10deg); /* Tilt to the right */
    max-height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
    z-index: 1;
}

.frame.active .toothbrush {
    opacity: 1;
}

.frame.slide-out .cloud {
    transform: translateX(-100%);
}

.color-buttons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 50;
    cursor: pointer;
}

.color-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}

.color-btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.color-btn.yellow {
    background-color: yellow;
}

.color-btn.blue {
    background-color: blue;
}

.color-btn.pink {
    background-color: pink;
}

.minicloud {
    width: 150px; /* Adjusted width */
    height: 40px; /* Adjusted height */
    background: #FFDE4D; /* Initial color */
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    position: relative;
    margin: 10px auto; /* Adjusted margin */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 1s ease-in-out, opacity 1s ease-in-out; /* Ensure opacity transition */
    text-align: center; /* Center text */
    opacity: 1; /* Ensure opacity is set to 1 by default */
    font-size: 12px; /* Adjusted font size */
}

.minicloud p {
    margin: 0; /* Remove default margin */
    position: absolute;
    top: 2px;
}

.minicloud:after, .minicloud:before {
    content: '';
    position: absolute;
    background: #FFDE4D; /* Ensure the default color is set */
    z-index: -1;
    transition: background 1s ease-in-out;
}

.minicloud:after {
    width: 40px; /* Adjusted size */
    height: 40px; /* Adjusted size */
    top: -20px; /* Adjusted position */
    left: 20px; /* Adjusted position */
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.minicloud:before {
    width: 70px; /* Adjusted size */
    height: 70px; /* Adjusted size */
    top: -35px; /* Adjusted position */
    right: 20px; /* Adjusted position */
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.hidden {
    display: none;
 }

 @keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut 1s forwards;
}

/* Media Queries for Responsiveness */
@media (max-width: 775px) {
    .container {
        width: 100%;
        height: auto;
        padding-bottom: 100%;
        max-width: none;
        max-height: none;
    }

    .frame img.cloud {
        width: 90%;
        height: auto;
    }

    .frame img.toothbrush {
        bottom: 0; /* Adjust positioning for smaller screens */
        max-height: 80%; /* Adjust size for smaller screens */
    }

    .color-buttons {
        bottom: 5px;
        gap: 5px;
    }

    .color-btn {
        width: 15px;
        height: 15px;
    }
}