body {
    display: flex;
    margin: 0;
    background-color: transparent;
}

.container {
    position: relative;
    width: 375px;
    height: 400px;
    overflow: hidden;
}

.frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: flex-end; /* Align items to the bottom */
}

.frame.active {
    display: flex;
}

.frame img.cloud {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    transition: transform 1s ease-in-out;
    z-index: 0;
}

.frame img.toothbrush {
    position: absolute;
    left: 49%;
    transform: translateX(-50%) rotate(10deg); /* Tilt to the right */
    max-height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
    z-index: 1;
}

.frame.active .toothbrush {
    opacity: 1;
}

.frame.slide-out .cloud {
    transform: translateX(-100%);
}

.color-buttons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 50;
}

.color-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}

.color-btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.color-btn.yellow {
    background-color: yellow;
}

.color-btn.blue {
    background-color: blue;
}

.color-btn.pink {
    background-color: pink;
}

/* Media Queries for Responsiveness */x
@media (max-width: 775px) {
    .container {
        width: 100%;
        height: auto;
        padding-bottom: 100%;
        max-width: none;
        max-height: none;
    }

    .frame {
        align-items: center; /* Adjust alignment for smaller screens */
    }

    .frame img.cloud {
        width: 80%;
        height: auto;
    }

    .frame img.toothbrush {
        bottom: 0; /* Adjust positioning for smaller screens */
        max-height: 80%; /* Adjust size for smaller screens */
    }

    .color-buttons {
        bottom: 5px;
        gap: 5px;
    }

    .color-btn {
        width: 15px;
        height: 15px;
    }
}